.sidebar {
    width: 220px;
    background: #0f0f0f;
    color: white;
    padding: 15px;
    position: fixed;
    left: -220px;
    height: calc(100vh - 60px);
    top: 60px;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 999;
}

.sidebar a {
    color: white;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    gap: 10px;
}

/* Sidebar active */

.sidebar.active {
    left: 0;
}