.setting {
    display: flex;
}

.profiles {
    display: flex;
    align-items: center;
    gap: 20px;
}

.yt-header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 10px;
    margin-left: 500px;
}

/* Create Button */
.create-btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 14px;
    background: #161616;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
    border: none;
    transition: 0.3s ease;
}

.create-btn:hover {
    background: #3f3f3f;
}

.create-btn .icon {
    font-size: 20px;
}