.navbar-toggle {
    border: none;
    cursor: pointer;
    background: transparent;
    transition: 0.3s ease;
    height: 50px;
    width: 50px;
    margin-top: 5px;
    margin-left:10px;
}

.navbar-toggle .bar {
    width: 22px;
    height: 2px;
    margin: 5px auto;
    background-color: #ffffff;
    display: block;
}

.navbar-toggle:hover {
    background-color: rgba(75, 75, 75, 0.2);
    border-radius: 40px;

}